<div (mouseenter) ="show()"  (mouseleave) ="hide()" id="sbTriggerContainer">
    <div id="sbTrigger">socials</div>
<div [@showSocials]=" sh ? 'showed' : '*'"  (mouseenter) ="show()"  (mouseleave) ="hide()" id="socialBar">
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/sylwow">
        <img class="socialLogo" style="margin-top: 0;" src="../assets/images/githubLogo.png"></a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/sylwester-dawida-5b2a871a2/">
        <img class="socialLogo" src="../assets/images/lkLogo.png"></a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCpK3debJuqmL1wu5NT8kAew">
        <img class="socialLogo" src="../assets/images/ytLogo.png"></a>
</div>
