#elBackground{
    float: left;
    width: 100vw;
    height: 100vh;
}
#elBacgroundBar {
    float: left;
    background-color: #555555;
    width: 100vw;
    height: 80vh;
    margin-top: 10vh;
}
#element{
    position: absolute;
    height: 70vh;
    width: auto;
    margin-left: 5vw;
    margin-top: 15vh;
}
#presentationImg{
    float: left;
    width: auto;
    height: 50vh;
    margin-top: 10vh;
}
#description {
    overflow: hidden;
    float: left;
    height: 70vh;
    max-width: 40vw;
    margin-left: 5vw;

}
#title{
    font-size: 50px;
    font-family: 'lato';
    color: white;
}
#tools{
    float: left;
    height: 60px;
    width: 100%;
    margin-top: 10px;
}
.toolLogo{
    height: 60px;
    margin-right: 15px;
    float: left;
    transition: transform .15s
}
.toolLogo{
    transform: translateY(10px);
}
#descriptionText{
    float: left;
    margin-top: 20px;
    height: auto;
    max-width: 40vw;
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
    font-size: 18px;
    font-family: 'lato';
    color: white;
}
#requirements{
    float: left;
    margin-top: 20px;
    height: auto;
    width: 100%;
    max-width: 40vw;
    text-align: justify;
    word-wrap: break-word;
    font-size: 18px;
    font-family: 'lato';
    color: white;
}
#links{
    float: left;
    margin-top: 20px;
    height: auto;
    width: 100%;
    max-width: 40vw;
}
#gitLink{
    float: right;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform .15s
}
#gitLink:hover{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.btn {
    float: right;
    background-color: DodgerBlue;
    border: none;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 20px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  .btn:hover {
    background-color: RoyalBlue;
  }
  
