<div id="elBackground">
    <div [@backgroundIn]="animatePage ? 'show' : '*'" id="elBacgroundBar">
    </div>
    <div id="element">
        <img [@imageIn]="animatePage ? 'show' : '*'" id="presentationImg" [src]='imageLink'>
        <div [@textIn]="animatePage ? 'show' : '*'" id="description">
            <div id="title">
                {{title}}
            </div>
            <div id="tools">
                <img *ngFor="let tool of toolsImg; index as i" class="toolLogo" [src]="tool.img"
                    [title]="tool.description">
            </div>
            <div id="descriptionText">
                {{description}}
            </div>
            <div id="requirements">
                {{requirements}}
            </div>
            <div id="links">
                <a *ngIf="githubLink.length > 0" target="_blank" rel="noopener noreferrer" [href]="githubLink">
                    <img id="gitLink" src="../assets/images/githubLogo.png"></a>
                <button class="btn"><i class="fa fa-download"></i> Downloads</button>
            </div>
        </div>
    </div>
</div>