.video-js .vjs-tech {
    /* make the video larger so it can hide*/
    width: 102%;
    height: 102%;
    /* displace video to hide*/
    left: -5px;
    /* allow space for hiding*/
    margin: -10px;
    position: absolute;
    top: 0;
  }
  
  .video-js {
    /* make sure overflow is hidden*/
    overflow: hidden; 
  }
#elBackground{
    float: left;
    width: 100%;
    height: 100vh;
}
#elBacgroundBar {
    z-index: 1;
    float: left;
    background-color: #555555;
    width: 100%;
    height: 85vh;
    margin-top: 10vh;
}
#element{
    z-index: 2;
    float: left;
    height: 75vh;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#presentationImg {
    float: left;
    margin-left: 5%;
    width: 43%;
    height: 50vh;
    margin-top: 10vh;
}
#description {
    overflow: hidden;
    float: left;
    height: 75vh;
    margin-left: 4%;
    width: 43%;
}
#title{
    float: left;
    display: block;
    font-size: 5vh;
    font-family: 'lato';
    color: white;
}
#date{
    float: right;
    display: block;
    padding-top: 2vh;
    font-size: 3vh;
    font-family: 'lato';
    color: white;
}
#tools{
    float: left;
    height: 7vh;
    width: 100%;
    margin-top: 1vh;
}
.toolLogo{
    height: 7vh;
    margin-right: 2%;
    float: left;
    transition: transform .15s
}
.toolLogo{
    transform: translateY(10px);
}
#descriptionText{
    float: left;
    margin-top: 2vh;
    max-height: 36vh;
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
    font-size: 2.5vh;
    overflow-y: auto;
    font-family: 'lato';
    color: white;
}
#req {
    float: left;
    margin-top: 2vh;
    max-height: 8vh;
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
    font-size: 2.5vh;
    font-family: 'lato';
    overflow: hidden;
    color: white;
}
#links {
    float: left;
    margin-top: 2vh;
    height: auto;
    width: 100%;
}
#gitLink {
    float: right;
    height: 7vh;
    margin-left: 2%;
    margin-right: 2%;
    transition: transform .15s
}
#gitLink:hover{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer; 
}
.btn {
    float: left;
    background-color: DodgerBlue;
    border: none;
    color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 5vh;
    width: auto;
    margin-right: 3%;
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    padding-right:  3%;
    padding-left:  3%;
    cursor: pointer;
    font-size: 2.5vh;
  }
  .btn:hover {
    background-color: RoyalBlue;
    cursor: pointer; 
  }
  .downloadIcon{
      float: left;
      height: 2.5vh;
  }
  
