.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    background-color: transparent;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 3px;
    background: transparent;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 3px;
    background: DodgerBlue;
    width: 0%;
  }