<div id="presentationBck">
    <div style="float: left; height: 100vh; width: 100vw; min-width: 500px;">
        <div [@flyInOut]="show ? 'show' : '*'" id="myProjectsContainer">
            <div id="myProjects">My projects</div>
        </div>
    </div>
    <div *ngFor="let project of projects; index as i" style="float: left;">
        <app-presentation-element [id]="project.id" [title]="project.name" [description]="project.description"
            [imageLink]="project.imageLink" [githubLink]="project.githubLink" [index]="i"
            [downloads]="project.downloads" [toolsImg]="project.tools" [requirements]="'Requirements: ' + project.requirements">
        </app-presentation-element>
    </div>
    <app-ending-page style="float: left;"></app-ending-page>
</div>