#presentationBck{
    position: relative;
    z-index: 1;
    background-color: #a6c280;
    float: left;
    width: 100%;
}
#myProjects{
    float: left;
    margin-top: 40vh;
    margin-left: 10vw;
    font-family: 'lato';
    width: auto;
    font-size: 20vh;
    color: white;
}
#endingPage {
    float: left;
    height: 100vh;
    width: 100%;
    background-color: white;
}