<div     appParallax [ratio]="-0.3" id="Ebackground">
    <div appParallax [ratio]="-0.5" id="EmainPage">
        <div id="EleftSide">
            <div id="ElogoContainer">
                <div id="Elogo">Shrapsen</div>
            </div>
            <div style="margin-top: 15vh; margin-left: 2vw;">
                <div id="ElanguagesDescription">Languages that i use:</div>
                <div style="clear: both;"></div>
                <div style="margin-top: 5vh; margin-left: -50px;">
                    <img class="ElanguageLogo" src="../assets/images/cSharpLogo.png">
                    <img class="ElanguageLogo" src="../assets/images/pythonLogo.png">
                    <img class="ElanguageLogo" src="../assets/images/javaLogo.png">
                    <img class="ElanguageLogo" src="../assets/images/cppLogo3.png">
                    <img class="ElanguageLogo" src="../assets/images/jsLogo.png">
                </div>
            </div>
        </div>
    </div>
</div>