#Ebackground {
    float: left;
    width: 100vw;
    height: 100vh;
}
#endContainer{
    float:left;
    margin-left: 10vw;
    margin-top: 40vh;
}
.end{
    float: left;
    width: 100%;
    margin-top: 30px;
    color: white;
    font-family: 'lato';
    font-size: 60px;
    color: white;
}