@font-face {
    font-family: cyberpunk;
    src: url(../../assets/fonts/Cyberpunk.ttf) format("opentype");
  }
@font-face {
  font-family: lato;
  src: url(../../assets/fonts/Lato-Regular.ttf) format("opentype");
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover 
{
   text-decoration:none; 
   cursor:pointer;  
}
#backgroundColour{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 500px;
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}
#background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#menu{
  padding-top: 2vh;
  position: fixed;
  z-index: 1;
  height: 6vh;
  width: 100vw;
  /*background-color:rgb(221, 255, 0);*/
}
.menuItem{
    z-index: 1;
    color: white;
    font-family: 'lato';
    font-size: 30px;
    color: white;
    display: inline;
    transition: color 0.5s;
}

#mainPage{
    float: left;
    position: fixed;
    height: 92vh;
    width: 100vw;
}
#leftSide{
    float: left;
    width: 90vw;
}
#logoContainer{
    margin-top: 20vh;
    margin-left: 10vw;
    display: block;
}
#logo {
    font-family: 'lato';
    font-size: 130px;
    color: white;
    display: inline;
}

#languagesDescription{
    color: white;
    font-family: 'lato';
    font-size: 40px;
    color: white;
    display: inline;
}
.languageLogo {
    height: 120px;
    width: 120px;
    margin-left: 50px;
    float: left;
}
