@font-face {
    font-family: cyberpunk;
    src: url(../../assets/fonts/Cyberpunk.ttf) format("opentype");
  }
@font-face {
  font-family: lato;
  src: url(../../assets/fonts/Lato-Regular.ttf) format("opentype");
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover 
{
   text-decoration:none; 
   cursor:pointer;  
}
#backgroundColour{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: max(100vw, 500px);
  height: 100vh;
  background-color: #222222;
}
#background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: max(100vw, 500px);
  height: 100vh;
}
#mainPage {
    float: left;
    position: fixed;
    height: 100%;
    width: 100%
}
#logo {
    float: left;
    margin-top: 20vh;
    margin-left: 10vw;
    height: 30%;
    width: 100%;
    font-size: 20vh;
    font-family: 'lato';
    color: white;
}

#languagesDescription{
    float: left;
    color: white;
    font-family: 'lato';
    font-size: 5vh;
    color: white;
}
.languageLogo {
    height: 17vh;
    margin-left: 10px;
    float: left;
}
