<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="backgroundColour">
    <div appParallax [ratio]="-0.2" id="background">
        <div appParallax [ratio]="-0.3" id="mainPage">
            <div @flyInOutLogo id="logo">Shrapsen</div>
            <div style="clear: both;"></div>
            <div @flyInOutLanguages style="float: left; padding-top: 12vh; padding-left: 2%; width: 100%;">
                <div id="languagesDescription">Languages that i use:</div>
                <div style="clear: both;"></div>
                <div style="padding-top: 5vh; width: 100%; height: 17vh;">
                    <img class="languageLogo" src="../assets/images/cSharpLogo.png">
                    <img class="languageLogo" src="../assets/images/pythonLogo.png">
                    <img class="languageLogo" src="../assets/images/javaLogo.png">
                    <img class="languageLogo" src="../assets/images/cppLogo3.png">
                    <img class="languageLogo" src="../assets/images/jsLogo.png">
                </div>
            </div>
        </div>
    </div>
</div>