<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section id="background">
    <div id=menu>
        <a href="/" class="menuItem" style="margin-left: 30px;">Home</a>
    </div>
    <div id="mainPage">
        <div id="leftSide">
            <div id="logoContainer">
                <div @flyInOut @fadeInOut id="logo">Shrapsen</div>
            </div>
            <div style="margin-top: 15vh; margin-left: 2vw;">
                <div [@simpleFadeAnimation]="'in'" id="languagesDescription">Languages that i use:</div>
                <div style="clear: both;"></div>
                <div style="margin-top: 5vh; margin-left: -50px;">
                    <img class="languageLogo" src="../assets/images/cSharpLogo.png">
                    <img class="languageLogo" src="../assets/images/pythonLogo.png">
                    <img class="languageLogo" src="../assets/images/javaLogo.png">
                    <img class="languageLogo" src="../assets/images/cppLogo3.png">
                    <img class="languageLogo" src="../assets/images/jsLogo.png">
                </div>
            </div>
        </div>
        <div id="rightSide">
            <div style="margin-top: 10vh">
                <img class="socialLogo" src="../assets/images/githubLogo.png">
                <img class="socialLogo" src="../assets/images/lkLogo.png">
                <img class="socialLogo" src="../assets/images/ytLogo.png">
            </div>
        </div>
    </div>
</section>