/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 141, 141);
}

body {
    scrollbar-color: grey rgb(190,190,190) !important; 
    scrollbar-width: thin !important;          
}

:root{
    scrollbar-color: grey rgb(190,190,190) !important;
    scrollbar-width: thin !important;
  }
  
